<h3>OrderCard</h3>

<div class="container">
    <div class="d-flex justify-content-center flex-wrap">
        <div class="card text-white bg-primary my-3 mx-3">
            <div class="card-header">
                Order - Created
            </div>
            <div class="card-body">
                <p class="card-text">Numyer of orders: X</p>
            </div>
            <div class="card-footer">
                <button class="btn btn-link text-white">View Details</button>
            </div>
        </div>
        <div class="card text-white bg-success my-3 mx-3">
            <div class="card-header">
                Order - Created
            </div>
            <div class="card-body">
                <p class="card-text">Numyer of orders: X</p>
            </div>
            <div class="card-footer ">
                <button class="btn btn-link text-white">View Details</button>
            </div>
        </div>
        <div class="card text-white bg-danger my-3 mx-3">
            <div class="card-header">
                Order - Created
            </div>
            <div class="card-body">
                <p class="card-text">Numyer of orders: X</p>
            </div>
            <div class="card-footer ">
                <button class="btn btn-link text-white">View Details</button>
            </div>
        </div>
        <div class="card text-white bg-secondary my-3 mx-3">
            <div class="card-header">
                Order - Created
            </div>
            <div class="card-body">
                <p class="card-text">Numyer of orders: X</p>
            </div>
            <div class="card-footer ">
                <button class="btn btn-link text-white">View Details</button>
            </div>
        </div>
    </div>
</div>
